h3 {
   text-align: center;
   color: #9D8771;
   margin-top: 30px;
}

form {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   background-color: #F5EBE0;
   border-radius: 10px;
   text-align: center;
}

form p {
   color: #9D8771;
}

form label {
   display: block;
   margin-bottom: 10px;
   font-weight: bold;
   color: #9D8771;
   text-align: left;
}

form input,
form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #9D8771;
   border-radius: 5px;
   font-family: inherit;
   font-size: 14px;
   margin-bottom: 10px;
}

form textarea {
   height: 150px;
   resize: vertical;
}

form button[type="submit"] {
   display: block;
   width: 100%;
   padding: 10px;
   margin-top: 20px;
   background-color: #9D8771;
   border: none;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: inherit;
   font-size: 14px;
   cursor: pointer;
}

form button[type="submit"]:hover {
   background-color: #774936;
}

